@page
@model Taste.Pages.Customer.Carts.OrderConfirmationModel
@{
}
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is : @Model.OrderId
    </div>
    <br />
    <br />
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your Order is Placed Successfuly! 
    </div>
</div>